<section>
<h3>Edit relations for reference# <%= @citation.id%>:</h3>

<%= form_for @citation do |f|%>
	<%= f.label :project %><br>
	<%= collection_select :project, :id, Project.all-@citation.projects, :id, :name, :include_blank => "Select a project" %>
	<%= f.submit "add" %>
<% end %>
<%= form_for @citation do |f|%>
	<%= f.label :category %><br>
	<%= collection_select :category, :id, Category.all-@citation.categories, :id, :name, :include_blank => "Select a category" %>
	<%= f.submit "add" %>
<% end %>
</section>