<section id="table_section">
<h3>Results for search "<%= params[:search]%>":</h3>
<%= will_paginate %>
<table>
	<thead>
		<tr class="table_header">
			<th id="ref_table_title_head" width="20%">Title</th>
			<th id="ref_table_abstract_head" width="40">Comments</th>
			<th id="ref_table_author_head" width="30%">Authors</th>
			<th id="ref_table_journal_head" width="10%">Citation</th>
		</tr>
	</thead>
	<tbody>
		<% @citations.each do |ref| %>
		  <tr>
		    <td>
		    	<% unless ref.title.nil? %> 
		    		<%= link_to ref.title, ref %>
		    	<% else %>
		    		<%= "no title"%>
		    	<% end %>
	    	</td>
	    	<td id="comments">
	    		<%ref.comments.each do |comment|%>
						<% unless ref.comments.nil? %>
							<b><%= comment.user.first_name + " " + comment.user.last_name + ": " %></b><%= comment.content %><br>
						<% end %>
					<% end %>
    		</td>
		    <td>
		    	<% unless ref.author_list.empty? %> 
		    	<%= ref.author_list %>
		    	<% end %>
	    	</td>
	    	<td>
	    		<% if ref.citation_type == "journal" %>
		    		<%= render :partial => "authorless_reference_string", :locals => { :citation => ref} %>
	    		<% elsif ref.citation_type == "patent" %>
	    			<% unless ref.patent_number.nil? %> 
		    			<%= ref.patent_number %>
		    		<% end %>
	    		<% end %>
	    	</td>
		  </tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>
</section>

