<section id="table_section">
<h3>Results for search "<%= params[:search]%>":</h3>
<table>
	<thead>
		<tr class="table_header">
			<th id="ref_table_title_head">Title</th>
			<th id="ref_table_abstract_head">Abstract</th>
			<th id="ref_table_author_head">Authors</th>
			<th id="ref_table_journal_head">Citation</th>
		</tr>
	</thead>
	<tbody>
		<% @citation.each do |ref| %>
		  <tr>
		    <td>
		    	<% unless ref.title.nil? %> 
		    		<%= link_to ref.title, ref %>
		    	<% else %>
		    		<%= "no title"%>
		    	<% end %>
	    	</td>
	    	<td id="abstract">
	    		<% unless ref.abstract.nil? %> 
		    		<%= ref.abstract %>
		    	<% else %>
		    		<%= "no abstract"%>
		    	<% end %>
    		</td>
		    <td>
		    	<% unless ref.author_list.empty? %> 
		    	<%= ref.author_list %>
		    	<% end %>
	    	</td>
	    	<td>
	    		<% if ref.citation_type == "journal" %>
		    		<% unless ref.journal.nil?%>
		    			<%=raw "<i>" + ref.journal + "</i>" %>
		    			<% unless ref.publish_year.nil? %>
		    				<%=raw "<b>" + ref.publish_year.to_s  + "</b>, " %>
		    				<%= ref.volume + ", " + ref.pages + "." %>
		    			<% end %>
		    		<% end %>
	    		<% elsif ref.citation_type == "patent" %>
	    			<% unless ref.patent_number.nil? %> 
		    			<%= ref.patent_number %>
		    		<% end %>
	    		<% end %>
	    	</td>
		  </tr>
		<% end %>
	</tbody>
</table>
</section>

