<div class="title">
	<h3><%= @citation.title %></h3>
</div>
<div class="main">
	<b>Citation ID:</b> <%= @citation.id %><br>
	<b>Authors:</b> <%= @citation.author_list%><br>
	<b>Citation:</b> Need to add function to build this<br>
	<b>Abstract:</b> <%= @citation.abstract%><br>
	<br>
	<p>This reference has been tagged in:<% if @citation.projects.nil?%><%= "no projects"%></p>
	<% else %>
	<% @citation.projects.each do |p|%>
		<%=raw "<p>" + "Project " + link_to(p.name, project_path(p)) + " in categories:" %>
		<% @citation.categories.each_with_index do |c, index| %>
			<% if p.categories.include?(c) %>
				<% unless index == @citation.categories.size() - 1 %>
					<%= c.name + "," %>
				<% else %>
					<%=raw c.name + "</p>"%>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	<% end %>
			
	<p><%= link_to "Add a project", edit_citation_path(@citation) %> to this citation</p>
	
	
<br>

<div class="comments">
	<p>Comments:</p>
	<%@citation.comments.each_with_index do |comment, index|%>
		<% unless @citation.comments.nil? %>
			<% if index.odd? %>
				<%=raw "<div id=\"comment_odd\"" %>
			<% else %>
				<%=raw "<div id=\"comment_even\"" %>
			<% end %>
			<p>Comment Author: <%= comment.user.first_name + " " + comment.user.last_name %> </p>
			<p>Comment Creation Date: <%= time_ago_in_words(comment.created_at)%> ago</p>
			<p><%= comment.content %></p>
			<%=raw "</div>"%>
		<% end %>
	<% end %>
</div>