<div class="title">
	<h3><%= @citation.title %></h3>
</div>
<div class="main">
	<b>Citation ID:</b> <%= @citation.id %><br>
	<b>Authors:</b> <%= @citation.author_list%><br>
	<b>Citation:</b> Need to add function to build this<br>
	<b>Abstract:</b> <%= @citation.abstract%><br>
	<br>
	<p>Tagged projects: <% if @citation.projects.nil?%><%= "none"%>
	<% else %>
		<% @citation.projects.each_with_index do |project, index|%>
			<% if index == @citation.projects.size() - 1 %>
				<%= link_to(project.name, project_path(project)) + "." %>
			<% else %>
				<%= link_to(project.name, project_path(project)) + ", " %>
			<% end %>
		<% end %>
	<% end %> </p>
	<p>Tagged categories: <% if @citation.categories.nil?%><%= "none"%>
	<% else %>
		<% @citation.categories.each_with_index do |category, index| %>
			<% if index == @citation.categories.size() - 1 %>
				<%= link_to(category.name, category_path(category)) + "." %>
			<% else %>
				<%= link_to(category.name, category_path(category)) + ", " %>
			<% end %>
		<% end %>
	<% end %> </p>	
			
	<p><%= link_to "Edit", edit_citation_path(@citation) %> projects and categories of this citation</p>
	
<br>

<div class="comments">
	<p>Comments:</p>
	<%@citation.comments.each_with_index do |comment, index|%>
		<% unless @citation.comments.nil? %>
			<% if index.odd? %>
				<%=raw "<div id=\"comment_odd\"" %>
			<% else %>
				<%=raw "<div id=\"comment_even\"" %>
			<% end %>
			<p>Comment Author: <%= comment.user.first_name + " " + comment.user.last_name %> </p>
			<p>Comment Creation Date: <%= time_ago_in_words(comment.created_at)%> ago</p>
			<p><%= comment.content %></p>
			<%=raw "</div>"%>
		<% end %>
	<% end %>
</div>