<section id="citation">
	<h3><%= @citation.title %></h3>
	<div id="citation_info">
	<b>Citation ID:</b> <%= @citation.id %><br>
	<b>Authors:</b> <%= @citation.author_list%><br>
	<b>Citation:</b> <%= render :partial => "reference_string" %><br>
	<b>Abstract:</b> <%= @citation.abstract%><br>	
	</div>
	<br>
	<p><b>Tagged projects: </b><% if @citation.projects.nil?%><%= "none"%>
	<% else %>
		<% @citation.projects.each_with_index do |project, index|%>
			<% if index == @citation.projects.size() - 1 %>
				<%= link_to(project.name, project_path(project)) + "." %>
			<% else %>
				<%= link_to(project.name, project_path(project)) + ", " %>
			<% end %>
		<% end %>
	<% end %> </p>
	<p><b>Tagged categories: </b><% if @citation.categories.nil?%><%= "none"%>
	<% else %>
		<% @citation.categories.each_with_index do |category, index| %>
			<% if index == @citation.categories.size() - 1 %>
				<%= link_to(category.name, category_path(category)) + "." %>
			<% else %>
				<%= link_to(category.name, category_path(category)) + ", " %>
			<% end %>
		<% end %>
	<% end %> </p>	
			
	<p><%= link_to "Add", edit_citation_path(@citation) %> projects and categories of this citation</p>
	
</section>

<section id="add_comment">
	<h3>Add a comment:</h3>
	<% @comment = Comment.new%>
	<%= form_for @comment do |f|%>
		<%= f.label :content%>
		<%= f.text_field :content %>
		<%= f.hidden_field :citation_id, :value => @citation.id %>
		<%= f.submit "submit" %>
	<% end %>
</section>
<section id="comments">
	<h3>Comments:</h3>
	<%@citation.comments.each_with_index do |comment, index|%>
		<% unless @citation.comments.nil? %>
			<% if index.odd? %>
				<%=raw "<div class=\"comment_odd\">" %>
			<% else %>
				<%=raw "<div class=\"comment_even\">" %>
			<% end %>
			<p><b><%= comment.user.first_name + " " + comment.user.last_name %></b> wrote on
				<%= comment.created_at %>:</p>
			<p class="comment_content"><%= comment.content %></p>
			<%=raw "</div>"%>
		<% end %>
	<% end %>
</section>
