<script>
	$(function() {
		$( '#tabs' ).tabs();
	});
</script>
<section>
<h2><%= @project.name.capitalize %> has citations in these categories:</h2>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">All</a></li>
		<% @categories.each_with_index do |category, index|%>
			<%=raw "<li><a href=\"#tabs-" + (index+2).to_s + "\">" + category.name.capitalize + "</a></li>"%>
		<% end %>
	</ul>
	<div id="tabs-1">
		<h3>Citations:</h3>
		<% @citations.each do |citation| %>
			<%=link_to(citation.title, citation_path(citation))%>
			<% unless citation.comments.nil? %>	
				<ul>
				<% citation.comments.each do |comment| %>
					<li><b><%= comment.user.first_name + " " + comment.user.last_name + ": "%></b>
					<%= comment.content %></li>
				<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
	<% @categories.each_with_index do |category, index|%>
		<%=raw "<div id=\"tabs-" + (index+2).to_s + "\">" %>
		<%=raw "<h3>Citations:</h3>" %>
		<% @citations.each do |citation|%>
			<% if category.citations.include?(citation)%>
				<%=link_to(citation.title, citation_path(citation))%>
			<% end %>
		<% end %>
		<%=raw "</div>"%>
	<%end %>
	
</div>
</section>





